@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.collection-create-form_last-form-item {
  margin-bottom: 0;
}

.social-container {
  margin: 15px auto;
}

.social-icon {
  font-size: 2rem;
  color: #211e24;
  margin: auto 15px;
  cursor: pointer;
}

.social-icon:hover, .social-icon:focus {
  color: #5b21c5;
}
